.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: linear-gradient(90deg, #5099, #578095);
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
}
